{% extends 'base.html' %}

{% block content %}
    <strong>Reg ID: </strong>{{ student.reg_id }}<br>
    <strong>Name: </strong>{{ student.name }}<br>
    <strong>Father: </strong>{{ student.father }}<br>
    <strong>Marhala: </strong>{{ student.marhala }}<br>
    <strong>Madrasa: </strong>{{ student.madrasa }}<br>
    <strong>Reg Year: </strong>{{ student.reg_year }}<br>
    {% if student.is_rejected %}<strong><i>REJECTED</i></strong>{% endif %}
<br />

    {% if results %}
        <br />
        <h5>Results</h5>
        <div class="table-responsive">
            <table class="table table-hover table-white">
                <thead>
                <tr>
                    <th scope="col">Subject</th>
                    <th scope="col">Number</th>
                </tr>
                </thead>
                <tbody>
                {% for subject, number in results.items %}
                    <tr>
                        <td>{{ subject }}</td>
                        <td>{{ number }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <th>Total Number</th>
                    <td>{{ student.result.total_num }}</td>
                </tr>
                <tr>
                    <th>Average Number</th>
                    <td>{{ student.result.average_num }}</td>
                </tr>

                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}